
body {
    background: url(img/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
  }
  .login-box 
  {
    width: 360px;
    height: 280px;
    margin: auto;
    margin-top: 100px;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 
  {
    text-align: center;
    padding-top: 15px;
  }
  form 
  {
    width: 300px;
    margin-left: 20px;
  }
  form label 
  {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15px;
  }
  form input 
  {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    margin-left: 2px;
  }
  .sub 
  {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: 110px;
    border: none;
    background-color: green;
    color:var(--green);
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 6px;
  }
 .sub:hover
  {
   color: beige;
  }
  p
   {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para 
  {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: -10px;
  }
  .para a 
  {
    color: green;
  }