 body 
 {
    background: url(img/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box 
  {
    width: 380px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
  }
  h1 
  {
    text-align: center;
    padding-top: 15px;
  }
  form 
  {
    width: 300px;
    margin-left: 20px;
  }
  form label
  {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15px;
  }  
  form input
  {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    margin-left: 15px;
  }
  .sub 
  {
    width: 150px;
    height: 45px;
    border: none;
    background-color: green;
    color:var(--green);
    font-size: 18px;
  }
  .login-box sub
  {
    margin-bottom: 20px;
  }
  p {
    
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
  }
  .para 
  {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .para .sub 
  {
    background-color: green;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    color: black;
    border-radius: 5px;
    
  }
  .para .sub:hover
  {
    color:beige;
  }
   .para-2
  {
    margin-top: 40px;
    font-size: 20px;
    margin-left: 25px;
  }
  .para-2 a
  {
    color: green;
  }
  